.profileTagContainer {
    display: flex; /* gives flex context to stuff inside tagContainer */
    flex-wrap: nowrap; /* profile pic and username on 1 line */
    align-items: center; /* centers  */
  }
  
  .picsContainer {
    display: flex; /* gives flex context to stuff inside tagContainer */
    flex-wrap: nowrap; /* profile pic and user status on 1 line */
    position: relative; /* reference for children's position */
  }
  
  .personImg {
    border-radius: 50%;
    border: 2px solid black;
  }
  
  .userStatus {
    height: 12px;
    width: 12px;
    background-color: rgb(1, 212, 1);
    /* background-color: rgb(105, 105, 105); /* gray when inactive */
    border: 2px solid white;
    border-radius: 50%;
    position: absolute; /* references position based on picsContainer */
    top: 40px;
    right: -2px;
  }
  
  .profileTextContainer {
    padding-left: 5px;
  }
  