  .columns {
    border: 5px solid red;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 100px;
    margin-top: 100px;
}

.homeSideBar {
    border: 2px solid orange;
    width: 390px;
}

.homeFeaturedCreators {
    border: 2px solid green;
    background: white;
}

.homeSideBarText {
    font-weight: bold;
    font-size: 1.25em;
}

.homeSideBarBreak {
    height: 50px;
}

.homePopularTags {
    border: 2px solid blue;
    background: white;

    columns: 150px 2;
    column-count: 2;
    column-gap: 20px;
    column-rule: 5px solid black;
    column-width: 180px;
}

.homeMainBar {
    border: 2px solid green;
    column-width: 550px;
    margin-right: 100px;
}
  