  .columns {
    border: 5px solid red;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 100px;
    margin-top: 100px;
}

.homeSideBar {
    border: 2px solid orange;
    column-width: 400px;
}

.homeFeaturedCreators {
    border: 2px solid green;
    background: white;
}

.homePopularTags {
    border: 2px solid blue;
    background: white;

    columns: 190px 2;
    column-count: 2;
    column-gap: 20px;
    column-rule: 5px solid black;
    column-width: 180px;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;*/
}

.homeMainBar {
    border: 2px solid green;
    column-width: 550px;
    margin-right: 100px;
}
  