.visually-hidden {
    overflow: hidden;
    position: absolute;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .search {
    border-radius: 10px;
    width: 80%;
    height: 50%;
    font-size: 2rem;
    position: relative;
    margin-left: 2 rem;
  }
  
  .button {
    border-radius: 10px;
    height: 50%;
    width: 15%;
    font-size: 2rem;
    margin-right: 0.5rem;
    margin-left:0.1 rem;
  }
  